
<!DOCTYPE html>
<html>

    <style> 


        .left-half {
 
            position: fixed;
            top: 0px;
            left: 0%;
            height: 450px; 
            width: 50%; 
            overflow-x: scroll; 
            overflow-y: scroll; 
            margin-bottom: 25px;

        }

        .right-half 
        {
            position: fixed;
            top: 0px;
            left: 50%;
            height: 450px; 
            width: 50%; 
            overflow-x: scroll; 
            overflow-y: scroll; 
            margin-bottom: 25px;
        }   

        table 
        {
            font-family:verdana;
            font-size: 13px;
            color: darkblue;
            border-collapse: collapse;
            width: 100%;
            word-wrap: break-word;
        }

        tr:nth-child(even) {
            background-color: lightblue;
        }

        td{
            height: 10px;
        }

        .dotaz {
            line-height: 20px;
            font-family: Arial;
            padding-left: 10px;
            margin-bottom: 20px;
            height:5px;
        }

    </style> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

    <body>

    <section>

        <div class="container">
            
            <div class="left-half">

                <%for(var i=0; i<dotazVlevoPole.length; i++){ %>    
                    <p class="dotaz"><%= dotazVlevoPole[i] %></p>
                <% } %> 

                <br>
                <br>
                <h2> Tabulka je pr치zdn치</h2>

            </div>    

            <div class="right-half">

                <%for(var i=0; i<dotazVpravoPole.length; i++){ %>    
                    <p class="dotaz"><%= dotazVpravoPole[i] %></p>
                <% } %> 

                <br>
                <br>
                <h2> Tabulka je pr치zdn치</h2>
                
            </div>
        </div>

    </section>


    <script>
        $(document).ready(function()
        {

            //propoji posuvniky mezi sebou
            $(".left-half").scroll(function () { 
                $(".right-half").scrollTop($(".left-half").scrollTop());
                $(".right-half").scrollLeft($(".left-half").scrollLeft());
            });
            $(".right-half").scroll(function () { 
                $(".left-half").scrollTop($(".right-half").scrollTop());
                $(".left-half").scrollLeft($(".right-half").scrollLeft());
            });

            //nastavi stejnou vysku radku
            var i = -1;
            $(".trL").each(function(){
                
                i = i + 1;
                var $vyskaRadkuL = $('.trL').eq(i).height();
                var $vyskaRadkuR = $('.trR').eq(i).height();

                //nastavi vysku radku takovou aby byl radek vyssi
                if($vyskaRadkuL > $vyskaRadkuR ){
                    var $vyskaRadku = $vyskaRadkuL;
                }
                else {
                    var $vyskaRadku = $vyskaRadkuR;
                }

                $('.trR').eq(i).height($vyskaRadku);
                $('.trL').eq(i).height($vyskaRadku);
                
            });

        });
    </script>

    <script>
        
        //obarvi jednotlive radky, ktere jsou rozdilne
        var $pocetRadkuL;
        var $pocetRadkuR;
        var $pocetRadkuMax;

        var $pocetSloupcuL;
        var $pocetSloupcuR;
        var $pocetSloupcuMax;
        
        //----------------------------------------------------
        //zjisti pocet radku
        $pocetRadkuL = $('.trL').length;
        $pocetRadkuR = $('.trR').length;
        
        if($pocetRadkuL > $pocetRadkuR){
            $pocetRadkuMax = $pocetRadkuL;
        }
        else {
            $pocetRadkuMax = $pocetRadkuR
        }

        //----------------------------------------------------
        //zjisti pocet sloupcu
        $pocetSloupcuL = $('.thL').length;
        $pocetSloupcuR = $('.thR').length;

        if($pocetSloupcuL > $pocetSloupcuR){
            $pocetSloupcuMax = $pocetSloupcuL;
        }
        else {
            $pocetSloupcuMax = $pocetSloupcuR
        }
        
        var $bunkaL;
        var $bunkaR;
        
        for ($r = 1; $r <= $pocetRadkuMax; $r++) {
            for ($s = 0; $s < $pocetSloupcuMax; $s++) {
        
                $bunkaL = $("#tableLeft").find('tr:eq( ' + $r + ' )').find('td:eq( ' + $s + ' )').text();
                $bunkaR = $("#tableRight").find('tr:eq( ' + $r + ' )').find('td:eq( ' + $s + ' )').text();
                
                //prebarvi bunky, pokud nalezne jinou hodnotu v $bunkaL a $bunkaR 
                if($bunkaL != $bunkaR){
                    if($bunkaR != ""){
                        $("#tableLeft").find('tr:eq( ' + $r + ' )').find('td:eq( ' + $s + ' )').css( "color", "red" );
                    }
                    if($bunkaL != ""){
                        $("#tableRight").find('tr:eq( ' + $r + ' )').find('td:eq( ' + $s + ' )').css( "color", "red" );
                    }    
                }
        
            }
            
        }

    </script>

    </body>
</html>