<h4>Mobile Numbers</h4>



<!DOCTYPE html>
<html>
<head>
    <style>

        body {
            background-color: lightblue;
            color: darkblue;
            font-family:verdana; 
            letter-spacing: 2px;
            text-align: center;
        }

    </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>


</script>
</head>


<body>
    <form id="novaTabulka-form" method="POST" action="/porovnatDotazy">

        <h2>Porovnat dotazy</h2>

        <p>
            <input type="text" name="queryLeft">
        </p>   
        <p>
            <input type="text" name="queryRight">
        </p>
        <p>
            <label>Odsazovat řádky</label>
            <input type="checkbox" name="odsazovatRadky">
        </p> 

        <footer>
            <br><br>
            <input type="submit" value="Potvrď">
        </footer>
        
    </form> 
</body>



</html>